body {
    background-color: antiquewhite;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    max-width: 900px;

}

.person_name {
    color: antiquewhite;
    margin-bottom: 0px;
    margin-top: 0px;
}

.tagline {
    color: antiquewhite;
    font-style: oblique;
    margin-top: 0px;
}

header {
    text-align: center;
    background-color: darkred;
    margin: 0px;
    margin-top: 0px;
}

#main_content {
    margin: auto;
    width: 90%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
}

a {
    color: darkblue;
}

h3 {
    color: darkred;
}

h4 {
    color: darkred;
    text-decoration-line: underline;
    margin-bottom: 10px;
}

.nav {
    float: center;
    text-align: center;
    margin-bottom: 0px;
}

footer {
    background-color: darkred;
    height: 70px;
    padding-top: 20px;
}

.footer_text {
    color: lightgray;
    text-align: center;
    font-size: 15px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: darkred;
    color: white;
}

ul {
    list-style: none;
}